
body{
  
    background-color: rgb(230, 230, 230);
    color: rgb(27, 27, 27);
    font-family: 'PT Sans', sans-serif;
    font-size: 20px;
    margin: 0;

    
  /*  background-image: url(backtest.jpg);
    background-repeat: no-repeat;
    background-size: cover;
   /* background-attachment: fixed; */   
}

.container{
    width: 950px;
    margin: 0 auto
}
.info{
    text-align: center;
}

.expli{
    list-style: none;
    padding: 0;

}


h4{
    margin-bottom: 0;

}

h5{
    font-weight: 500;
    font-style: italic;
    margin:0;
    font-size: 18px;

}

h6{
    font-weight: 500;
    font-style: italic;
    margin: 0;
    font-size: 18px
}


.foto_minha {
    width: 200px;
 border-width: 2px;
 border-style: solid;
 border-color: rgb(34, 34, 34);
 border-radius: 50%;
 box-shadow: 3px 3px 15px;
 margin: 0 30px 30px 30px;
}

#nome_principal {
    margin-bottom: 0;
}

#cargo {
font-style: italic;    
letter-spacing: -1px;
margin-top: 0;
font-weight: lighter
}

.icons {
    width: 40px;
    margin: 0 5px;
}

.acessodiv {
    margin: 20px 20px 20px 20px;
}



.acesso{
    font-style: normal;
    font-style: unset;
    text-decoration: none;
   color: black
    /*
    color: white;
    border: solid;
    border-color: #383838;
    border-radius: 30px;
    padding: 5px;
    margin: 5px */
}

.footer {
    background-color: black;
    color: white;
    margin: 0;
    padding: 1px;
    font-size: 15px;
    text-align: center;
}

.header {
    background-color: black;
    color: white;
    margin: 0;
    padding: 1px;
    font-size: 15px;
    text-align: center;
}